{% extends 'user/userdef.html' %}

{% block title %}{{ news.title }}{% endblock %}


{% block content %}
    <h4 class="new-title">{{ news.title }}</h4>
    <p class="new-name">Articler by:  {{ news.name_author }}</p>
    <p class="new-text">{{ news.full_text }}</p>
    <p class="new-date">Publication date:  {{ news.date }}</p>
    {% if user.is_authenticated %}
        <a class="back-link" href="{% url 'usernews' %}">Back to news</a>
        <a class="back-link-upnews" href="{% url 'newsupdate' news.id %}">Update</a>
        <a class="back-link-delnews" href="{% url 'newsdelete' news.id %}">Delete</a>
    {% else %}
        <a class="back-link" href="{% url 'news' %}">Back to news</a>
    {% endif %}
{% endblock %}