{% extends 'user/userdef.html' %}

{% block title %}Update Author{% endblock %}

{% block content %}
    <div class="features">
        <h1>Update Author</h1>
        <form method="post" class="news-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Author name:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="id_born_date">Born Date:</label>
                {{ form.born_date }}
            </div>
            <div class="form-group">
                <label for="id_born_location">Born Location:</label>
                {{ form.born_location }}
            </div>
            <div class="form-group">
                <label for="id_description">Description:</label>
                {{ form.description }}
            </div>
            <button class="btn btn-success" type="submit">Save changes</button>
        </form>
    </div>
{% endblock %}