{% extends 'user/userdef.html' %}

{% block title %}Update Quote{% endblock %}

{% block content %}
    <div class="features">
        <h1>Update Quote</h1>
        <form method="post" class="news-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_author">Author:</label>
                {{ form.author }}
            </div>

            <div class="form-group">
                <label for="id_new_author">Author:</label>
                {{ form.new_author }}
            </div>

            <div class="form-group">
                <label for="id_text">Quote text:</label>
                {{ form.text }}
            </div>

            <div class="form-group">
                <label for="id_new_tags">New Tag:</label>
                {{ form.new_tags }}
            </div>
            
            <div class="form-group">
                <label for="id_tags">Select Existing Tags:</label>
                {{ form.tags }}
            </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <button class="btn btn-success" type="submit">Save changes</button>
        </form>
    </div>
{% endblock %}