{% extends 'user/userdef.html' %}

{% block title %}Quotes{% endblock %}

{% block content %}
<div class="quotes-container">
    <h1 class="quote-name">Quotes</h1>
    <a href="{% url 'addquotes' %}" class="add-quote-btn">+Add quote</a>
    <div class="quotes-columns">
        {% for quote in quotes %}
        <div class="quote-item">
            <p class="quote-text">{{ quote.text }}</p>
            <div class="quote-description">
                <strong>Author:</strong> {{ quote.author.name }}<br>
                <strong>Tags:</strong> {% for tag in quote.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                <a href="{% url 'quotedelete' quote.id %}" class="delete-quote">Delete</a>
                <a href="{% url 'quoteupdate' quote.id %}" class="read-more-quote">Update</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}