{% extends 'user/userdef.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
    <div class="features">
        <h4>Welcome to Wi Authors</h4>
        <ul1>
            <p2>Discover a world of knowledge and inspiration with <strong>Wi Authors</strong>.<br> 
                Our platform offers a rich collection of news and articles from verified authors, complete with publication dates and times. Dive into the biographies of notable authors—explore their birthplaces, life journeys, and remarkable achievements.<br>
                <br>
                Join our community by registering to unlock additional features: create and share your own news, edit existing content, and add quotes from your favorite authors. Enhance the site with your unique insights and become an integral part of the Wi Authors experience.
                <br>
                <br><strong>Thank you for visiting</strong>, and we look forward to your contributions!</p2>
        </ul1>
    </div>
{% endblock %}